body {
  background-image: url(assets/bg.png);
  background-size: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  margin: 0;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 40px;
  right: 600px;
  width: 600px;
}

.desenho {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  height: 300px;
}

/* --- Etapa 1 --- */
.janelaEtapa1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1900px;
}

.textoEtapa1 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 15px;
  font-family: sans-serif;
}

.escalaEtapa1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 30px;
  flex-wrap: wrap;
}

.botao-escala {
  color: white;
  border: 1px solid transparent;
  font-size: 100px;
  width: 140px;             
  height: 140px;            
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.1s cubic-bezier(0.100, 0.800, 0.300, 1.000);
}

.botao-escala.destaque {
  transform: scale(1.2);
}

#enviarEtapa1 {
  margin-top: 20px;       
  padding: 15px 40px;
  font-size: 30px;       
  font-weight: bold;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  background-color: #007acc;
  color: white;
  transition: background-color 0.2s;
}

#enviarEtapa1:disabled {
  background-color: #f9a825;
  color: #ffffff;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}


/* --- ETAPA 2 --- */

.janelaEtapa2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.textoEtapa2 {
  font-size: 60px;       
  text-align: center;     
  width: 100%;
  margin: 0 0 30px 0;
  font-family: sans-serif;
}

.estrelas1Etapa2, 
.estrelas2Etapa2, 
.estrelas3Etapa2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  margin-bottom: 10px;
}

.botao-estrela {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.botao-estrela .estrela {
  width: 135px;  
  height: 135px; 
  transition: transform 0.1s ease;
}

.botao-estrela:hover .estrela {
  transform: scale(1.1);
}


#enviarEtapa2 {
  display: block;
  margin: 20px auto 0 auto;

  padding: 15px 50px;
  font-size: 50px;       
  font-weight: bold;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  background-color: #007acc;
  color: white;
  transition: background-color 0.2s;
}

#enviarEtapa2:hover {
  background-color: #0062a3;
}

#enviarEtapa2:disabled {
  background-color: #f9a825;
  color: #ffffff;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* --- ETAPA 3 --- */
.textoEtapa3 {
  font-size: 95px;
  text-align: center;
  font-family: sans-serif;
}

.botoesEtapa3 {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.botaoSimEtapa3 {
  padding: 15px 50px;
  background-color: #66bb6a;
  color: #ffffff;
  font-weight: bold;
  font-size: 110px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
}

.botaoNaoEtapa3 {
  padding: 15px 50px;
  background-color: #f9a825;
  color: #ffffff;
  font-weight: bold;
  font-size: 110px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
}
.botaoSimEtapa3:hover {
  transition: transform 0.1s ease;
  transform: scale(1.1);
}
.botaoNaoEtapa3:hover {
  transition: transform 0.1s ease;
  transform: scale(1.1);
}

/* --- Etapa 4 --- */
.janelaEtapa4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
}

.textoEtapa4 {
  font-size: 95px;
  text-align: center;
  margin-top: 130px;
  font-family: sans-serif;
}
.caixaDeTextoEtapa4 {
  width: 130%;
  height: 400px;
  
  margin-top: -80px;
  margin-bottom: 25px;
  
  padding: 15px;
  text-align: left;
  font-size: 30px;
  
  border: 2px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-family: sans-serif;
  
}

.enviarEtapa4 {
  margin-top: 10px;
  padding: 15px 40px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  background-color: #66bb6a;
  color: white;
  transition: background-color 0.2s;
  
}
.enviarEtapa4:hover {
  background-color: #4caf50;
}

/* --- Etapa 5 / Final --- */
.texto1Etapa5 {
  color: gray;
  font-size: 150px;
  text-align: center;
  margin-bottom: -55px;
  font-family: sans-serif;
  font-weight: bold;
}

.texto2Etapa5 {
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  margin-top: 100px;
}

.sucessoLaranja {
  color: orange;
}